.petCareFooter {
  width: 100%;
  padding: 0 20px;
  margin-top: 20px;

  &__title {
    font-size: 22px;
    font-weight: 600;
  }
}
@media (min-width: 900px) {
  .petCareFooter {
    max-width: 45%;
    float: left;
    margin-top: 30px;
    font-size: 30px;

    &__title {
      font-size: 28px;
      font-weight: 600;
    }
  }
}
