.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}

.buttonText {
  padding: 0 8px;
  font-size: 13px;
  line-height: 14px;
  color: #ffffff;
}

.filterButtonsContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  &__filterButton {
    background-color: #ff9f0a;
    text-decoration: none;

    &:hover {
      background-color: #d17d00;
    }
  }

  &__clearFilterButton {
    background-color: #C6C6C6;

    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }
}

@media (min-width: 800px) {
  .filterButtonsContainer {
    margin-top: 27px;
    justify-content: flex-start;
  
    &__clearFilterButton {
      margin-left: 29px;
    }
  }
}

@media (min-width: 600px) {
  .buttonText {
    padding: 0 12px;
    font-size: 14px;
    line-height: 16px;
  }
}