.button {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 42px;
  border-radius: 35px;
  cursor: pointer;
  text-align: center;
}

.buttonText {
  padding: 0 12px;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.filterButtonsContainer {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;

  &__filterButton {
    background-color: #902111;
    text-decoration: none;
  }

  &__clearFilterButton {
    background-color: #C6C6C6;
  }
}

@media (min-width: 800px) {
  .filterButtonsContainer {
    margin-top: 27px;
    justify-content: flex-start;
  
    &__clearFilterButton {
      margin-left: 29px;
    }
  }
}