.header {
  display: flex;

  .filter_logo__container {
    width: 30px;

    .filter_logo {
      width: 30px;
      color: #5c4937;
    }

    span {
      font-family: Raleway;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #5c4937;
    }
  }

  .filter__header {
    font-family: Roboto;
    font-size: 1.5em;
    margin: 10px auto;
  }
}
