.headerContainer {
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  background-color: #fff;
  border-bottom: .5px solid rgba(211, 211, 211, 0.925);
  z-index: 1000;
  top: -1px;
  margin-bottom: 20px;

  &__logo {
    margin-bottom: 10px;
  }
  &__logo {
    margin-bottom: 10px;
    &_hiden{
      opacity: 0.5;
    }
  }
}
