.filter {
  width: 100%;
  margin: 0 auto;
  padding: 28px;
  background-color: #ffffff;
  max-height: calc(100vh - 1px);
  overflow-y: auto;
}

.header {
  display: flex;
}

.header h1 {
  width: 90px;
  text-align: center;
  margin: 10px auto;
}

.filter-logo-container {
  width: 30px;
}

.filter-logo {
  width: 30px;
  height: 27.02px;
  color: #5c4937;
}

.filter-logo-container span {
  font-family: Raleway;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #5c4937;
}

.filter-header {
  width: 90px;
  height: 33px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

form {
  width: 100%;
  margin-top: 25px;
}

.range-slider label,
h2 {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 20px;
  width: 100%;
}

.range-slider {
  margin-top: 20px;
  position: relative;
}
.error {
  color: #ff0000;
  width: 100%;
  text-align: center;
  margin-top: 14px;
  font-size: 12px;
  line-height: 16px;
}
output {
  position: absolute;
  font-size: 14px;
  line-height: 16px;
  margin: 40px auto 0;
}

input[type='range'] {
  margin: 35px auto 0;
  height: 25px;
  -webkit-appearance: none;
  width: 100%;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #dcdcdc;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type='range']::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #dcdcdc;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #902111;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #dcdcdc;
}

input[type='range']::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #dcdcdc;
  border-radius: 1px;
  border: 0px solid #000000;
}

input[type='range']::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #dcdcdc;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #902111;
  cursor: pointer;
}

input[type='range']::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type='range']::-ms-fill-lower {
  background: #dcdcdc;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-fill-upper {
  background: #dcdcdc;
  border: 0px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #000000;
}

input[type='range']::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #dcdcdc;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #902111;
  cursor: pointer;
}

input[type='range']:focus::-ms-fill-lower {
  background: #dcdcdc;
}

input[type='range']:focus::-ms-fill-upper {
  background: #dcdcdc;
}

.btn {
  width: 107px;
  height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  border: none;
  border-radius: 5px;
  margin-right: 28px;
  margin-top: 25px;
}

.btn-apply {
  background-color: #902111;
  color: #ffffff;
}

.btn-cancel {
  background-color: #f7f7f6;
  color: #000000;
}

.renge-slider {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.general {
  margin-top: 35px;
}

.general label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto;
  margin-top: 10px;
}

.switch {
  position: relative;
  width: 50px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  background-color: #f7f7f6;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
  height: 22px;
  border: 1px solid #902111;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  top: 2px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #902111;
}

input:checked + .slider {
  background-color: #b5a79f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #b5a79f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #1f1712;
}

.form_radio_group {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.form_radio_group input[type='radio'] {
  display: none;
}

.form_radio_group label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 31px;
  background: #f7f7f6;
  border-radius: 15px;
}

.form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type='radio']:checked + label {
  background: #902111;
  color: #ffffff;
}

/* Hover */
.form_radio_group label:hover {
  color: #666;
}

/* Disabled */
.form_radio_group input[type='radio']:disabled + label {
  background: #efefef;
  color: #666;
}
