.petsAgenda {
  display: flex;
  flex-wrap: wrap;
}
.characteristics,
.specificityCare {
  &__mainHeader {
    font-weight: 500;
    font-size: 25px;
    margin: 25px 0;
  }

  &__secondaryHeader {
    font-size: 16px;
  }
}

@media (min-width: 800px) {
  .comparisonDisplay {
    display: flex;
    justify-content: space-between;
  }

  .characteristics {
    width: 420px;
    margin-right: 15px;
  }
  .specificityCare {
    width: 420px;
    margin-left: 15px;
  }
}