.petsAgenda {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 940px;
}
.characteristics,
.specificityCare {
  &__mainHeader {
    font-weight: 500;
    font-size: 25px;
    margin: 25px 0;
  }

  &__secondaryHeader {
    font-size: 16px;
  }
}

@media (max-width: 940px) {
  .petsAgenda {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
  }
}

@media (min-width: 800px) {
  .comparisonDisplay {
    display: flex;
    justify-content: center;
  }

  .characteristics {
    width: 420px;
    margin-right: 45px;
  }
  .specificityCare {
    width: 420px;
    margin-left: 45px;
  }
}
