.dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: inline-block;
    margin: .5rem;   
}
.green {
    background-color: #30D158;
}
.yellow {
    background-color: #FF9F0A;
}
.grey {
    background-color: #E4E4E4;
}