.switch {
  position: relative;
  width: 50px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  background-color: #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 50px;
  height: 22px;
  border: 1px solid #e6e5e5;
  border-radius: 8px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 16px;
  width: 16px;
  left: 3px;
  top: 2px;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #e6e5e5;
}
input:checked + .slider {
  border: 1px solid #ff9f0a;
  background-color: #fff4f4;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffe5d6;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ff9f0a;
}
