.container{
    margin-top: 30px;
    &__label{
        font-size: 14px;
        font-weight: 500;
        padding-bottom: 20px;
    }
    &__inout{
        background-color: #F7F7F6;
        border: none;
        width: 100%;
        padding: 5px 5px;
        border-radius: 8px;
        &:focus{
            outline: 0;
            border: none;
        }
    }  
}



