.dogContainer {
  margin-top: 30px;
  padding: 13px 12px 0;
  cursor: pointer;

  &__dogBreed {
    margin-bottom: 15px;

    &__dogBreedText {
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__dogCharacteristicContainer {
    display: flex;
    justify-content: space-between;
    width: 77%;
  }
}

@media (min-width: 800px) {
  .dogContainer {
    margin: 0;
    padding: 13px 12px 0;

    &__dogBreed {
  
      &__dogBreedText {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
}
