.dogContainer {
  margin-top: 30px;

  &__dogBreed {
    margin-bottom: 15px;

    &__dogBreedtext {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__dogCharacteristicContainer {
    display: flex;
    justify-content: space-between;
    width: 77%;
  }
}
