.wrapper {
  font-family: 'Roboto';
  padding: 5px 20px;
  margin-bottom: 50px;
  box-sizing: border-box;
}

.searchPetsFail {
  margin: 30px 0;
}

.addPetBtn {
  margin-top: 10px;
}

.dogContainer {
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
  border-radius: 8px; 
  padding-bottom: 10px;
}

@media (min-width: 800px) {
  .dogsListContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .dogContainer {
    margin-top: 35px;
    width: 48%;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 8px; 
  }
}

@media (min-width: 1024px) {
  .dogsListContainer {
    justify-content: initial;
  }

  .dogContainer {
    width: 32%;

    &:nth-of-type(3n+2) {
      margin-right: 2%;
      margin-left: 2%;
    }
  }
}