*{
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    padding: 0;
}
.container {
    padding: 16px;
    padding-top: 0;
}
h1{
    font-size: 28px;
    font-weight: 600;
    padding: 16px;
    padding-top: 0;
    margin: 0;
}
h2{
    font-size: 24px;
    font-weight: 600;
}
.plain-text {
    font-size: 16px;
}
.dogPic{
    width: 100vw;
    height: 220px;
    object-fit: cover;
    object-position: 50% 50%;
}