%button {
    padding: 6px 21px;
    margin: 8px;
    border: none;
    border-radius: 12px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}
%button:hover {
    cursor: pointer;
}
%button:active {
    box-shadow: 5px 5px 5px rgb(238, 229, 229);
    transform: translateY(3px);
    outline: none;
  }
.generator {
    &__name{
        font-size: 24px;
        font-weight: 600;
        text-align: center;
        padding-top: 8px;
    }
    &__switch{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 8px;
    }
    &__header {
        font-size: 20px;
        font-weight: 500;
        white-space:nowrap;
        text-align: center;
        margin-right: 16px;
    }
    &__button {
        &_blue {
            background-color: #E1F6FF;
            @extend %button;
        }
        &_pink {
            background-color: #FFF0FF;
            @extend %button;
        }
        &_activeBlue {
            background-color: #0A84FF;
            @extend %button;
        }
        &_activePink {
            background-color: #FFA4FF;
            @extend %button;
        }
    }
}
