.addBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 35px;

  &__element {
    display: flex;
    align-items: center;

    &__tick {
      color: #30d158;
      padding: 5px;
    }

    &__added {
      color: black;
      padding: 5px;
    }

    &__thumbs {
      color: #0a84ff;
      padding: 5px;
    }

    &__clear {
      color: #ff453a;
      padding: 5px;
    }

    &__removePetBtn {
      color: #ff453a;
      padding: 5px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__toCompareLink {
      text-decoration: none;
      color: #0a84ff;
      padding: 5px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

.addPet {
  display: flex;

  &__addBtn {
    color: #fff;
    padding: 10px;
    background-color: #ff9f0a;
    border-radius: 30px;
    margin-left: 12px;

    &:hover {
      cursor: pointer;
      background-color: #ffc56f;
    }
  }
}
