.addBlock {
  display: flex;
  align-items: center;
  height: 27px;

  &__tick {
    color: #30d158;
    margin-right: 15px;
    font-size: 20px;
    display: flex;
  }

  &__addBtn {
    color: #0a84ff;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  &__added {
    color: black;
  }

  &__toCompareLink {
    text-decoration: none;
    color: #0a84ff;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
