.additional {
  margin: 10px 0 40px 0;

  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    .arrow {
      padding-right: 10px;
      margin-top: 8px;
    }
  }

  .plainText {
    font-size: 14px;
    margin: 8px 0;
    text-indent: 16px;
  }
}

@media (min-width: 900px) {
  .additional {
    &__title {
      font-size: 24px;
      .arrow {
        font-size: 34px;
      }
    }
    .plainText {
      font-size: 18px;
    }
  }
}
