.artcleContainer{
  margin-bottom: 12px;
}
.addTitle{
  display: flex;
}

.arrow {
  padding-right: 10px;
}

.plainText{
  font-size: 16px;
  margin: 8px 0;
}

.textItem{
  list-style-type: none;
  padding-bottom: 8px;
  text-indent: 16px;
}

.listItem {
  list-style-type: none;
  padding-bottom: 8px;
}