.artcleContainer {
  margin-bottom: 12px;
}
.addTitle {
  display: flex;
  font-size: 20px;
  font-weight: 400;
}

.arrow {
  padding-right: 10px;
}

.plainText {
  font-size: 14px;
  margin: 8px 0;
}

.textItem {
  list-style-type: none;
  padding-bottom: 8px;
  text-indent: 16px;
}

.listItem {
  list-style-type: none;
  padding-bottom: 8px;
}