.footer {
  flex: 0 0 auto;
  box-shadow: 0px 4px 10px 0px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;

  &__copyright {
    display: flex;
    align-items: center;
    width: 210px;
    &__icon {
      font-size: 19px;
    }
    &__text {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  &__logo {
    margin-bottom: 10px;
  }

  &__nav {
    width: 253px;
    &__link {
      color: black;
      margin-left: 20px;
      text-decoration: none;
      font-size: 15px;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column-reverse;
    padding: 15px;

    &__copyright {
      width: auto;
    }
    &__nav {
      width: auto;
    }
  }
}

