.container {
  padding: 16px;
  padding-top: 0;
}

.logoContainer{
  padding: 16px;
}
.pageHeader {
  font-size: 28px;
  font-weight: 600;
  padding: 16px;
  margin: 0;
}

.sectionHeader{
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

.plainText {
  font-size: 16px;
}

.dogPic{
  width: 100vw;
  height: 220px;
  object-fit: cover;
  object-position: 50% 50%;
  padding: 16px 0;
}

.starterBtn{
  color: #FF9F0A;
  padding: 16px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;

  &Text {
    padding-left: 10px;
  }
}
