.container {
  padding: 20px;
  padding-top: 0;
  margin-bottom: 30px;
}

.pageHeader {
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
  margin: 0;
}

.sectionHeader {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

.plainText {
  font-size: 16px;
}

.addContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -12px;
}

.starterBtn {
  color: #0A84FF;
  padding: 16px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  &Text {
    padding-left: 10px;
  }
}
.addPetBtn {
  margin-left: 20px;
}

.responsiveContainer {
  display: flex;
  flex-direction: column;
}

.responsiveItem {
  margin: 0 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .responsiveContainer {
    flex-direction: row;
  }
  .responsiveItem {
    order: 2;
    margin-left: 40px;
    margin-top: 0px;
    margin-right: 20px;
    flex: 1;
    .sectionHeader {
      padding-top: 0;
    }
  }
  .addContainer{
    margin-top: 45px;
    order: 2;
  }
}
