.container {
  padding: 20px;
  padding-top: 0;
}

.pageHeader {
  font-size: 28px;
  font-weight: 600;
  padding: 20px;
  margin: 0;
}

.sectionHeader {
  font-size: 24px;
  font-weight: 600;
  padding: 16px 0px;
}

.plainText {
  font-size: 16px;
}

.dogPic {
  width: 100vw;
  height: 240px;
  object-fit: cover;
  object-position: 50% 50%;
  padding-bottom: 20px;
}

.starterBtn {
  color: #FF9F0A;
  padding: 16px 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: flex;

  &Text {
    padding-left: 10px;
  }
}
.addPetBtn {
  margin-left: 20px;
}
