:global {
  .general {
    margin-top: 35px;
  }

  .general label {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 16px;
    font-family: Roboto, sans-serif;
    margin-top: 10px;
  }
  @media (min-width: 560px) {
    .general label {
      font-size: 20px;
    }
  }
}
