:global {
  .btn {
    width: 107px;
    height: 34px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin-right: 28px;
    margin-top: 25px;
    cursor: pointer;
  }

  .btn__apply {
    background-color: #ff453a;
    color: #ffffff;
  }

  .btn__cancel {
    background-color: #f7f7f6;
    color: #000000;
  }

  @media (min-width: 560px) {
    .btn {
      height: 34px;
      font-size: 18px;
      width: 120px;
    }
  }
}
