.petCareHeader {
  display: flex;
  width: 100%;
  padding: 20px;

  &__title {
    width: 60%;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    text-align: center;
    align-items: center;
    line-height: 16px;
    margin: 0 auto;
  }
}
