.menuContainer {
    height: 100vh;
    width: 80%;
    border-radius: 10px 0px 0px 10px;
    box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.25);
    position: absolute;
    background-color: #fff;
    z-index: 1000;
    top: 0;
    right: 0;
}