.toBuy {
  font-family: Roboto, sans-serif;
  padding: 20px 0;
  &__header {
    display: flex;
    align-items: center;
    &__cart {
      font-size: 28px;
      color: #ff9f0a;
    }

    &__title {
      margin-left: 15px;
      font-size: 24px;
      font-weight: 600;
    }
  }

  &__list {
    list-style: none;
  }
  &__element {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;

    &__title {
      font-size: 16px;
      width: 150px;
    }

    &__definition {
      font-size: 14px;
      color: #8e8e93;
      width: 150px;
    }
  }
}
