:global {
  .result {
    width: 100%;
    background: linear-gradient(270deg, #e6ffe2 0%, rgba(255, 255, 255, 0) 90%);
    border-radius: 10px;
    padding: 10px 0;
    h4 {
      &:nth-child(1) {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #30d158;
      }
    }
    span {
      font-weight: normal;
      font-size: 14px;
      color: #c4c4c4;
    }
  }
  .result_red {
    width: 100%;
    background: linear-gradient(270deg, #ffe9c7 0%, rgba(255, 255, 255, 0) 90%);
    border-radius: 10px;
    padding: 10px 0;

    h4 {
      &:nth-child(1) {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #ff9f0a;
      }
      &:nth-child(3) {
        font-weight: 600;
        font-size: 14px;
        margin-top: 15px;
      }
    }
    span {
      font-weight: normal;
      font-size: 14px;
      color: #c4c4c4;
      &:nth-child(4) {
        color: #000000;
      }
      &:nth-child(5) {
        color: #000000;
        text-transform: lowercase;
      }
    }
  }
}
