.comparisonPage {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
  font-family: Roboto, sans-serif;
  line-height: 28px;

  &__header {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}

@media (min-width: 800px) {
  .comparisonPage {
    max-width: 1024px;
    margin: 0 auto;
  }
}
