.comparisonPage {
  box-sizing: border-box;
  padding: 20px;
  font-family: Roboto, sans-serif;
  line-height: 28px;

  &__header {
    font-size: 28px;
    margin-top: 25px;
    margin-bottom: 20px;
  }
}
