.obs {
    display: flex;
    flex-wrap: wrap;
}
.obs > li {
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
}
.obs-title{
    font-weight: 500;
    font-size: 14px;
    color: #8E8E93;
    margin: 0;
}
li > .plain-text {
    margin: 8px 0px 16px 0px;
}